.dark {
  --color-present: var(--darkendYellow);
  --color-correct: var(--darkendGreen);
  --color-absent: var(--color-tone-4);
  --tile-text-color: var(--color-tone-1);
  --key-text-color: var(--color-tone-1);
  --key-evaluated-text-color: var(--color-tone-1);
  --key-bg: var(--color-tone-2);
  --key-bg-present: var(--color-present);
  --key-bg-correct: var(--color-correct);
  --key-bg-absent: var(--color-absent);
  --modal-content-bg: var(--color-tone-7);

  --color-tone-1: #ffffff;
  --color-tone-2: #818384;
  --color-tone-3: #565758;
  --color-tone-4: #3a3a3c;
  --color-tone-5: #272729;
  --color-tone-6: #1a1a1b;
  --color-tone-7: #121213;
  --color-tone-8: #ffffff;
  --color-tone-9: #424242;
  --color-tone-10: #dfdfdf;
  --color-tone-11: #dfdfdf;
  --color-tone-12: #dfdfdf;
  --color-nav-hover: #2f2f31;
  --opacity-50: rgba(0, 0, 0, 0.5);
  --error-background: var(--color-tone-7);
  --icon-disabled: #59595a;
  --promo-icon-height: 27px;
  --promo-icon-width: 27px;
  --promo-icon-bg-size: 35px;
  --promo-icon-padding: 4px;
  --promo-icon-height: 40px;
  --promo-icon-width: 40px;
  --promo-icon-padding: 0px;
  --svg-arrow-fill: var(--color-tone-7);
  --svg-arrow-stroke: white;
  --svg-arrow-fill-hover: white;
  --svg-arrow-stroke-hover: black;
}

.App {
  background-color: #282c34;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-board {
  display: grid;
  grid-template-rows: repeat(var(--row-count), 1fr);
  grid-gap: 5px;
  padding: 5px;
  box-sizing: border-box;
  width: 350px;
  --row-count: 6;
  --column-count: 5;
}

.App-row {
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: 5px;
}

.App-tile {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  vertical-align: middle;
  box-sizing: border-box;
  border: 2px solid #565758;
  user-select: none;
}

.App-tile[data-color='green'] {
  background-color: #538d4e;
}

.App-tile[data-color='yellow'] {
  background-color: #b59f3b;
}

.App-tile[data-color='grey'] {
  background-color: #3a3a3c;
}

.App-tile[data-color='black'] {
  background-color: black;
}

.App-tile[data-color='error'] {
  background-color: red;
}

.App-tile.letter-error {
  color: red;
}

.App-tile::before {
  content: '';
  display: inline-block;
  padding-bottom: 100%;
}

.App-tile:focus {
  border-color: white;
}

.App input,
.App textarea {
  font-size: calc(10px + 2vmin);
}

.App .word-error {
  color: red;
}

#wordLength {
  width: calc(5px + 4vmin);
}

/** TODO: Figure out dynamic help. */
.App-help {
  display: block;
  text-align: left;
}

.App-help-header {
  display: block;
  color: white;
}

.App-help-header:hover ~ .App-help {
  display: block;
}

.App-keyboard {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1em auto 1em;
  touch-action: manipulation;
}

.App-key {
  font-family: inherit;
  font-weight: bold;
  border: 0;
  padding: 5px;
  margin: 0 6px 0;
  height: 58px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--key-bg);
  color: var(--key-text-color);

  min-width: 3em;
  align-items: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
}
